https://www.innodocs.tech {
	redir https://innodocs.tech{uri}
}

https://innodocs.tech {
	encode gzip
	root * /var/www/html

	handle /api/* {
		reverse_proxy backend-container:80
	}

	handle {
		try_files {path} /index.html
		file_server
	}
}
